/* 1. Global style*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter",sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Reusable Container*/
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3{
  color: var(--text-color);
}
.dark-mode p{
  color: var(--text-light);
}
