nav{
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
  height: 80px;
  box-shadow: 0.2px 20px rgba(0, 0, 0, .08);
  position: sticky;
  z-index: 1000;
  top: 0;
  transition: background-color .3s ease;
}

/*Navigation Container*/
nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-toggle{
  display: none;
}

.logo-text{
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links{
  display: flex;
  gap: 20px;
}

